.login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form {
    padding-top: 18px;
}

.loginButton {
    background: none;
    border: none;
    padding: 12px 0 0 0;
}