@import '../../../../assets/style/variables.css'; 

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h2 {
        font-size: 28px;
        margin-top: 0;
        margin-bottom: 4px;
    }

    p {
        font-size: 16px;
        margin: 0;
        font-weight: normal;
    }

    button {
        background: none;
        border: none;
        padding: 12px 0 0 0;
        width: 100%;
    }
}

.progressBarWrapper {
    width: 100%;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progressBarContainer {
    margin-bottom: 4px;
    border-radius: 4px;
    background-color: var(--coral-medium);
    border: 2px solid var(--black-medium);
    padding: 2px;
    box-shadow: 0px 3px var(--black-medium);
    width: 100%;
}

.progressBarLabel {
    margin-top: 4px;
    font-size: 14px;
    color: var(--black-medium);
}